html,body{
    margin:0;
    width:100%;
    height:100%;
    font-family: sans-serif;
}

body{
    background: #1a4082;
    background: -moz-linear-gradient(-45deg,  #1a4082 0%, #2989d8 100%, #7db9e8 100%);
    background: -webkit-linear-gradient(-45deg,  #1a4082 0%,#2989d8 100%,#7db9e8 100%);
    background: linear-gradient(135deg,  #1a4082 0%,#2989d8 100%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a4082', endColorstr='#7db9e8',GradientType=1 );
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.border-white{
    border:1px solid white;
    padding: 1rem;
    border-radius: 1rem;
}

input{
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color:white;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: transparent;
}

select:focus{
    outline: none;
}

select::-ms-expand {
    display: none;
}

header{
    text-align: right;
    margin: 1rem;
}

.config_link,
.back_link{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

select.conversion_trigger{
    width: 120px;
    font-size: 3rem;
    height: 3rem;
    display: inline;
}

#amount{
    font-size: 3rem;
    display: inline;
    max-width: 200px;
}

.source,
.destination{
    display: inline-block;
    height: 6rem;
    top: 0;
    margin-top: 0;
    box-sizing: border-box;
    vertical-align: top;
    padding: 1.1rem;
}

.arrow,
.equals{
    display: inline-block;
}

#arrow_icon,
#equals_icon{
    height: 6rem;
}

#result{
    font-size: 6rem;
    color: white;
    vertical-align: top;
    display: block;
    text-align: center;
}

#config_form,
#config_form input{
    color: white;
    font-size: 2rem;
    text-align: left;
}

#config_form button{
    border: 0;
    background: rgba(0,0,0,0.5);
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top:3rem;
    cursor:pointer;
    width: 100%;
    border-radius: 0.6rem;
}

#config_form table{
    border-collapse: collapse;
}

#config_form th,
#config_form td{
    padding:1rem;
}